h1 {
  text-align: center;
}

h2{
  text-align: center;
  color: blue;
}
h4 {
  text-align: center;
  font-style: italic;
  font-family: monospace;
  color: #337ab7;
}

.surround {
  border: 2px solid black;
}

img {
  display: block;
  margin:auto;
  width: 800px;
}
